[loggers]
keys=root, root.crawler

[handlers]
keys = hand_root, hand_crawler

[formatters]
keys = standard

[formatter_standard]
format = %(asctime)s %(levelname)s (%(filename)s:%(lineno)s) - %(message)s

[logger_root]
level = DEBUG
handlers = hand_root

[logger_root.crawler]
level = DEBUG
handlers = hand_crawler
propagate=1
qualname=root.crawler

[handler_hand_root]
class = handlers.OutputDependHandler
level = DEBUG
formatter = standard
args = (handlers.TimedRotatingFileHandler('/home/robot/logs/robot.log', 'D', 1, 30), (StreamHandler(sys.stdout)))

[handler_hand_crawler]
class = handlers.OutputDependHandler
level = DEBUG
formatter = standard
args = (handlers.TimedRotatingFileHandler('/home/robot/logs/robot-crawler.log', 'D', 1, 30), NullHandler())

